article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

h1 {
    font-size: clamp(1.5rem, calc((4vw - 6px) * (5 / 7)), 5rem);
}

.city {
    text-align: center;
    padding: 1em;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

ul li {
    list-style: none;
    line-height: 2.8;
    letter-spacing: .2em;
}

span {
    color: #000000;
}

h3 {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.celsius {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

button {
    border: none;
    outline: none;
    background: #644807;
    color: #000000;
    cursor: pointer;
    transition: .5s;
    min-height: 5vh;
    border-radius: 10em;
    box-shadow: inset -3px -3px 10px black;
    font-size: clamp(1rem, calc((4vw - 6px) * (5 / 7)), 1rem);
}

button:hover {
    background-color: #07080999;
    color: white;
}

.weather {
    width: 30%;
    background-color: #136ea699;
    color: #000000;
    border-radius: 40px 35px;
    text-align: center;
    box-shadow: inset -3px -3px 3px black;
}

.loading {
    height: 200px;
    width: 200px;
    border: 12px solid #e3e3e3;
    border-radius: 50%;
    border-right-color: #4070f4;
    animation: spin 1s ease infinite;
}


@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}






@media screen and (max-width: 1500px) {
    .weather {
        width: 90%;
        background-color: #f6f6f699;
        padding: 1em;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    .weather__list {
        margin: .5rem auto;
        list-style: none;
        font-size: large;
    }

}